<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">

<title>Produits</title>

<link rel="stylesheet"
	type"text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />

</head>

<body>

	<div class="container">
		<div class="card">
			<div class="card-header">List de produit</div>
			<div class="card-body">
			
			<form th:action="@{products}" method="get">
				<div class="mb-5">
					<label class="control-label">Mot Clé</label>
					<input type="text" name="motCle" th:value="${motCle}" class="form-control"/>
					<button class="btn btn-primary">Chercher</button>
				</div>
			</form>
			
				<table class="table">
					<tr>
						<th>ID</th>
						<th>DES</th>
						<th>PRIX</th>
						<th>QUANTITE</th>
					</tr>
					<tr th:each="p:${pageProduits.content}">
						<td th:text="${p.id}"></td>
						<td th:text="${p.designation}"></td>
						<td th:text="${p.prix}"></td>
						<td th:text="${p.quantite}"></td>
					</tr>
				</table>
				<ul class="nav nav-pills" >
					<li th:each="page,status:${pages}">
						<a th:class="${status.index == currentPage ? 'btn btn-primary':'btn'}" th:href="@{products(page=${status.index}, size=${size},
						               motCle=${motCle})}"
						   th:text="${status.index}"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</body>
</html>